In [28]:
#1. 마지막에 변화를 잘 관찰 할 수 있게, 데이터 프레임을 이용하기 위해 padas를 임포트 한다.
import pandas as pd

#2. a,b,c의 변화를 담을 변수를 선언하고, 맨 앞에 초기 값인 '3/1'을 넣어준다.
a_arr, b_arr, c_arr = [1/3],[1/3],[1/3]

#3. k를 선언해준다.
k = 0

#4. 반복문을 돌면서 a,b,c의 변화하는 값들을 #2에서 선언한 리스트에 넣어 준다.
while True:

    #5. a,b,c를 계산한다.
    a = (0.1 * a_arr[k]) + (0.6 * b_arr[k]) + (0.4 * c_arr[k])
    b = (0.5 * a_arr[k]) + (0.1 * b_arr[k]) + (0.5 * c_arr[k])
    c = (0.4 * a_arr[k]) + (0.3 * b_arr[k]) + (0.1* c_arr[k])

    #6. 계산된 a,b,c의 값들을 #2에서 선언한 리스트에 넣어준다.
    a_arr.append(a)
    b_arr.append(b)
    c_arr.append(c)

    #7. k의 값을 1 증가시켜준다.
    k += 1

    #8. a,b,c의 k번째 값과 K+1 차가 0.001 보다 모두 작다면, 반복문을 종료한다.
    if (a_arr[k-1] - a_arr[k] < 0.001) and                            \
       (b_arr[k-1] - b_arr[k] < 0.001) and                            \
       (c_arr[k-1] - c_arr[k] < 0.001):

        print(f'k={k} 일때 값이 수렴합니다.\n')
        break

#9. a,b,c의 변화를 담은 리스트들을 딕셔너리로 변환해준다.
dic = {'Ak': a_arr,
       'Bk': b_arr,
       'Ck': c_arr}

#10. 변화를 잘 살펴보기 위해 위에서 선언한 딕셔너리 자료형을 데이터 프레임 자료형으로 바꿔준다.
df = pd.DataFrame(dic)
df = df.rename_axis('k')

#11. a,b,c의 k번째 값과 K+1 차가 0.001 보다 모두 작은지 확인해보고, 그 값을 알아 본다.
print(f'A(k) - A(k+1) < 0.001 :  {a_arr[-2] - a_arr[-1] < 0.001}({a_arr[-2] - a_arr[-1]})')
print(f'B(k) - B(k+1) < 0.001 : {b_arr[-1] - b_arr[-2] < 0.001}({b_arr[-1] - b_arr[-2]})')
print(f'C(k) - C(k+1) < 0.001 : {c_arr[-1] - c_arr[-2]  < 0.001}({c_arr[-1] - c_arr[-2]})')

#12. a,b,c의 변화를 보여주는 데이터 프레임을 출력한다.
df

k=5 일때 값이 수렴합니다.

A(k) - A(k+1) < 0.001 :  True(0.0008966666666667122)
B(k) - B(k+1) < 0.001 : True(0.0008533333333333171)
C(k) - C(k+1) < 0.001 : True(4.3333333333395174e-05)

         Ak        Bk        Ck
k
0  0.333333  0.333333  0.333333
1  0.366667  0.366667  0.266667
2  0.363333  0.353333  0.283333
3  0.361667  0.358667  0.279667
4  0.363233  0.356533  0.280233
5  0.362337  0.357387  0.280277